In [1]:
!pip install geopandas
!pip install geopy

Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/d7/bf/e9cefb69d39155d122b6ddca53893b61535fa6ffdad70bf5ef708977f53f/geopandas-0.9.0-py2.py3-none-any.whl (994kB)
     |████████████████████████████████| 1.0MB 6.1MB/s
Collecting fiona>=1.8
  Downloading https://files.pythonhosted.org/packages/ea/2a/404b22883298a3efe9c6ef8d67acbf2c38443fa366ee9cd4cd34e17626ea/Fiona-1.8.19-cp37-cp37m-manylinux1_x86_64.whl (15.3MB)
     |████████████████████████████████| 15.3MB 272kB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.7.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.1.5)
Collecting pyproj>=2.2.0
  Downloading https://files.pythonhosted.org/packages/b1/72/d52e9ca81caef056062d71991b0e9b1d16af042245627c5d0e4916a36c4f/pyproj-3.0.1-cp37-cp37m-manylinux2010_x86_64.whl (6.5MB)
     |████████████████████████████████| 6.5MB 38.5MB/s
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2020.12.5)
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/42/1e/947eadf10d6804bf276eb8a038bd5307996dceaaa41cfd21b7a15ec62f5d/cligj-0.7.1-py3-none-any.whl
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (20.3.0)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->geopandas) (2018.9)
Installing collected packages: munch, click-plugins, cligj, fiona, pyproj, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.1 fiona-1.8.19 geopandas-0.9.0 munch-2.5.0 pyproj-3.0.1
Requirement already satisfied: geopy in /usr/local/lib/python3.7/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.7/dist-packages (from geopy) (1.50)

In [2]:
import csv
import pandas as pd
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter

In [3]:
df = pd.read_csv("city_name.csv", encoding= 'unicode_escape')

print(df)

      No.            city
0        1       Agartala
1        2           Agra
2        3      Ahmedabad
3        4         Aizawl
4        5          Ajmer
..     ...            ...
120    121          Vatva
121    122     Vijayapura
122    123  Visakhapatnam
123    124         Yadgir
124    125    Yamunanagar

[125 rows x 2 columns]

In [4]:
list(df)

['\xa0No.\xa0', 'city']

In [5]:
df['Country'] = 'India'
df.head()

    No.        city Country
0      1   Agartala   India
1      2       Agra   India
2      3  Ahmedabad   India
3      4     Aizawl   India
4      5      Ajmer   India

In [6]:
df["location"] = df['city'] +", " + df['Country']
df.head()

    No.        city Country          location
0      1   Agartala   India   Agartala, India
1      2       Agra   India       Agra, India
2      3  Ahmedabad   India  Ahmedabad, India
3      4     Aizawl   India     Aizawl, India
4      5      Ajmer   India      Ajmer, India

In [7]:
from geopy.exc import GeocoderTimedOut 
from geopy.geocoders import Nominatim 
import numpy as np
   
# declare an empty list to store 
# latitude and longitude of values  
# of city column 
longitude = [] 
latitude = []       
  
# function to find the coordinate 
# of a given city  
def findGeocode(location): 
       
    # try and catch is used to overcome 
    # the exception thrown by geolocator 
    # using geocodertimedout   
    try: 
          
        # Specify the user_agent as your 
        # app name it should not be none 
        geolocator = Nominatim(user_agent="myGeocoder")
        
        return geolocator.geocode(location) 
      
    except GeocoderTimedOut: 
          
        return findGeocode(location) 
# each value from city column 
# will be fetched and sent to 
# function find_geocode    
for i in (df["location"]): 
      
    if findGeocode(i) != None: 
           
        loc = findGeocode(i) 
          
        # coordinates returned from  
        # function is stored into 
        # two separate list 
        latitude.append(loc.latitude) 
        longitude.append(loc.longitude) 
       
    # if coordinate for a city not 
    # found, insert "NaN" indicating  
    # missing value  
    else: 
        latitude.append(np.nan) 
        longitude.append(np.nan)

In [8]:
df["Longitude"] = longitude 
df["Latitude"] = latitude 

df.head()

    No.        city Country          location  Longitude   Latitude
0      1   Agartala   India   Agartala, India  91.282382  23.831238
1      2       Agra   India       Agra, India  78.009816  27.175255
2      3  Ahmedabad   India  Ahmedabad, India  72.579707  23.021624
3      4     Aizawl   India     Aizawl, India  92.738291  23.743524
4      5      Ajmer   India      Ajmer, India  74.639000  26.469100

In [9]:
df['lat_long'] = [', '.join(str(x) for x in y) for y in map(tuple, df[['Latitude', 'Longitude']].values)]

In [10]:
df.head()

    No.        city Country  ...  Longitude   Latitude                lat_long
0      1   Agartala   India  ...  91.282382  23.831238  23.8312377, 91.2823821
1      2       Agra   India  ...  78.009816  27.175255  27.1752554, 78.0098161
2      3  Ahmedabad   India  ...  72.579707  23.021624  23.0216238, 72.5797068
3      4     Aizawl   India  ...  92.738291  23.743524  23.7435236, 92.7382905
4      5      Ajmer   India  ...  74.639000  26.469100         26.4691, 74.639

[5 rows x 7 columns]

In [11]:
df.to_csv("aqi.csv")